<!-- prettier-ignore -->
{% extends 'accounts/main.html' %}

{% block content %}

<div class="row mt-1">
  <div class="col-md">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title">Actions</h5>
      </div>
      <div class="card-body pt-5">
        <a href="" class="btn btn-sm btn-outline-info btn-block"
          >Update Customer</a
        >
        <a
          href="{% url 'create_order' customer.id%}"
          class="btn btn-sm btn-outline-success btn-block"
          >Create new order</a
        >
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Customer Information</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush text-light">
          <li class="list-group-item pl-5">
            Name: <span class="text-white">{{ customer.name }}</span>
          </li>
          <li class="list-group-item pl-5">
            Email: <span class="text-white">{{ customer.email }}</span>
          </li>
          <li class="list-group-item pl-5">
            Phone: <span class="text-white">{{ customer.phone }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title">Total Orders</h5>
      </div>
      <div class="card-body text-center pt-5 mt-2">
        <h1>{{ total_orders }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <form method="get">
          <div class="form-row align-items-baseline">
            <!-- prettier-ignore -->
            {% for field in my_filter.form %}
            <!-- prettier-ignore -->
            <div class="col-auto">
              {{field.label}} 
              {{field}}
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Category</th>
              <th scope="col">Date Ordered</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for o in orders %}
            <tr>
              <th scope="row">{{ o.product.name }}</th>
              <td>{{ o.product.category }}</td>
              <td>{{ o.date_created }}</td>
              <td>{{ o.status }}</td>
              <td>
                <a
                  href="{% url 'update_order' o.id %}"
                  class="btn btn-sm btn-block btn-info"
                  >Update</a
                >
              </td>
              <td>
                <a
                  href="{% url 'delete_order' o.id %}"
                  class="btn btn-sm btn-block btn-danger"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
