{% extends 'accounts/main.html' %}

{% block content %}

<div class="row mt-1">
  <div class="col-md">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title">Actions</h5>
      </div>
      <div class="card-body pt-5">
        <a href="" class="btn btn-sm btn-outline-info btn-block"
          >Update Customer</a
        >
        <a href="" class="btn btn-sm btn-outline-danger btn-block"
          >Delete Customer</a
        >
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Contact Information</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush text-light text-center">
          <li class="list-group-item">
            Email: <span class="text-white">test@test.com</span>
          </li>
          <li class="list-group-item">
            Phone: <span class="text-white">2610-222-322</span>
          </li>
          <li class="list-group-item">
            Address: <span class="text-white">Kentro, Patras</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card h-100">
      <div class="card-header">
        <h5 class="card-title">Total Orders</h5>
      </div>
      <div class="card-body text-center pt-5 mt-2">
        <h1>12</h1>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <form method="get">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Category</th>
              <th scope="col">Date Ordered</th>
              <th scope="col">Status</th>
              <th scope="col">Update</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
