<!-- prettier-ignore -->
{% extends 'accounts/main.html' %} 
{% load static %} 

{% block content %}
<div class="jumbotron rounded-0 m-0 mb-3 py-4 px-2">
  <div class="row">
    <div class="col-md">
      <div
        class="card text-center text-dark bg-secondary shadow-sm"
        id="total-orders"
      >
        <div class="card-header bg-info">
          <h5 class="card-title">Total Orders</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title text-light">{{ total.total }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div
        class="card text-center text-dark bg-secondary shadow-sm"
        id="delivered-orders"
      >
        <div class="card-header bg-success">
          <h5 class="card-title">Delivered Orders</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title text-light">{{ total.delivered }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div
        class="card text-center text-dark bg-secondary shadow-sm"
        id="pending-orders"
      >
        <div class="card-header bg-warning">
          <h5 class="card-title">Pending Orders</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title text-light">{{ total.pending }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 pr-1">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">CUSTOMERS:</h5>
        <h6 class="card-subtitle mb-2 text-muted text-secondary">
          A list with all the customers and a summary of their orders.
        </h6>
        <a href="" class="btn btn-secondary btn-sm btn-block"
          >Create Customer</a
        >
        <table class="table table-sm table-hover mt-1">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Customer</th>
              <th scope="col">Orders</th>
            </tr>
          </thead>
          <tbody>
            {% for c, o in c_orders.values %}
            <tr>
              <td class="text-center">
                <a href="{% url 'customer' c.id %}"
                  ><span class="badge badge-primary"> View </span></a
                >
              </td>
              <th scope="row">{{ c.name }}</th>
              <td>{{ o }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-7 pl-1">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">LAST 5 ORDERS:</h5>
        <h6 class="card-subtitle pb-1 text-muted text-secondary">
          A list with the last five orders which delivered.
        </h6>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Date Ordered</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for o in orders %}
            <tr>
              <th scope="row">{{ o.product.name }}</th>
              <td>{{ o.date_created }}</td>
              <td>{{ o.status }}</td>
              <td>
                <a
                  class="btn btn-sm btn-block btn-info"
                  href="{% url 'update_order' o.id %}"
                >
                  Update
                </a>
              </td>
              <td>
                <a
                  class="btn btn-sm btn-block btn-danger"
                  href="{% url 'delete_order' o.id %}"
                >
                  Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
