<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="logo text-danger mr-2">
    <i class="fa fa-angellist w-100"></i>
  </span>
  <a class="navbar-brand text-danger" href="{% url 'dashboard' %}" id="brand">Customers DB</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
    </ul>
  </div>
</nav>
